@import 'react-responsive-carousel/lib/styles/carousel.min.css';
*,html,body{
    box-sizing: border-box;
}
body{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0!important;
    padding: 0!important;
}

ul,li{
    list-style: none;
}
a:visited,a:hover,a:active,a:focus,a{
    text-decoration: none;
    color:#3b3a3a;
}

.space-box{
    flex: 1 1;
}

.app-container{
    margin: 0 2rem;
}

.page-padding{
    padding-top: 4rem
}

  
 